[Unit]
Description=ip%Itables geoblocking
Before=network-pre.target
Wants=network-pre.target
After=iptables.service ip6tables.service ebtables.service ipset.service nftables.service firewalld.service netfilter-persistent.service

[Service]
RemainAfterExit=true
ExecStart=/bin/sh -c 'iptables-geoblock %I create'
ExecStop=/bin/sh -c 'iptables-geoblock %I destroy'

[Install]
WantedBy=multi-user.target
